@if (carta(); as cartaActiva) {
  <app-carta-detail-header [carta]="cartaActiva" />

  <p-tabs value="estructura">
    <p-tablist>
      <p-tab value="estructura">Estructura</p-tab>
      <p-tab value="asignacion">Asignación</p-tab>
      <p-tab value="experiencias">Experiencias</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="estructura">
        <app-carta-detail-estructura [carta]="cartaActiva" />
      </p-tabpanel>
      <p-tabpanel value="asignacion">
        <app-carta-detail-asignacion [carta]="cartaActiva" />
      </p-tabpanel>
      <p-tabpanel value="experiencias">
        <app-carta-detail-experiencias [carta]="cartaActiva" />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
} @else {
  <p>Carta no encontrada.</p>
}
